

.wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 стовпці, кожен з шириною 1fr */
    grid-template-rows: repeat(5, 15vh); /* 5 рядків, висота кожного рядка автоматично визначається вмістом */
    gap: 50px;

    justify-content: center;
    align-items: center;


    max-width: var(--wrap);

}